<h2>Sondes</h2>

<div class="row">
    <div *ngFor="#data of probes ">

        <div class="col-lg-3 col-md-4 col-sm-6 ">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black" style="background: url('../dist/img/photo1.png') center center;">
                    <h3 class="widget-user-username">{{data.location}}</h3>
                    <h5 class="widget-user-desc">{{data.pid}}</h5>
                </div>

                <div class="box-footer">
                    <div class="row">
                        <div [ngClass]="{'col-sm-4': data.vcc, 'col-sm-6': ! data.vcc, 'border-right':true}">
                            <div class="description-block">
                                <h5 class="description-header">{{data.numberofsensors}}</h5>
                                <span class="description-text">{{data.numberofsensors > 1 ? 'Capteurs':'Capteur'}} </span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div [ngClass]="{'col-sm-4': data.vcc, 'col-sm-6': ! data.vcc, 'border-right':true}">
                            <div class="description-block">
                                <h5 class="description-header">{{data.numberofmeasures}}</h5>
                                <span class="description-text">{{data.numberofmeasures > 1 ? 'Mesures':'Mesure'}}</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div *ngIf="data.vcc" class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">{{data.vcc}}</h5>
                                <span class="description-text">VCC</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
    </div>
</div>