<h2>Sensors list</h2>

<div class="row">
    <div *ngFor="#data of sensorsData | async">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <!-- small box -->
            <div class="small-box" [attr.data-nodeid]="data.nodeid" 
            [ngClass]="{'bg-yellow': data.type == 'temp', 'bg-aqua': data.type =='hum', 'bg-green': data.type =='pres'}">
                <div class="inner">
                    <p>{{ data.nodeid }}</p>
                    <h3>{{ data.value | number:'.1-1' }}
                        <i [ngClass]="{'wi wi-degrees': data.type == 'temp', 'fa fa-percent': data.type =='hum'}"></i></h3>
                </div>
                <div class="icon">
                    <i [ngClass]="{'wi wi-thermometer': data.type == 'temp', 'wi wi-humidity': data.type =='hum', 'wi wi-barometer': data.type =='pres', 'wi': true}"></i>
                   
                </div>
                <a href="#" class="small-box-footer">
                    <i class="wi wi-time-8"></i> {{ data.date | date:'dd MM yyyy HH:mm' }}
                    </a>
            </div>
        </div>
    </div>
</div>