.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    font-size: 13px;
    line-height: 20px;
    padding-top: 5px;
}
.small-box .icon {
    top: 10px;
    right: 20px;
    font-size: 60px;
}
.small-box:hover .icon {
  font-size: 65px;
}
.icon.zoom{
  font-size: 70px;
}
.info-box-number {
    font-size: 28px;
}
@media (max-width: 767px) 
{
    .small-box p {
        font-size: 15px;
        margin-bottom: 5px;
    }
}
.widget-user-username span, .widget-user-desc span{
    background-color:rgba(120, 120, 120, 0.7);
    border-radius: 3px;
    padding: 0 5px;
}

.widget-user .box-footer {
     padding-top: 10px; 
}

.widget-user-2 .widget-user-header {
    padding-top: 5px; 
    padding-bottom: 5px; 
}

.widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {
    margin-left: 0px;
}

