.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    font-size: 13px;
    line-height: 20px;
    padding-top: 5px;
}
.small-box .icon {
    top: 10px;
    right: 20px;
    font-size: 60px;
}
.small-box:hover .icon {
  font-size: 65px;
}
.icon.zoom{
  font-size: 65px;
}
.info-box-number {
    font-size: 28px;
}
@media (max-width: 767px) 
{
    .small-box p {
        font-size: 15px;
        margin-bottom: 5px;
    }
}

.wi-thermometer, .wi-humidity, .wi-barometer {
    display: inline-block;
    font-family: 'weathericons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}